<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conSQ" connectionString="Server=103.92.235.145;uid=synspexc_privateTheater;pwd=B5y6IRkp#opc91rxj;database=synspexc_privateTheaterdb;" providerName="System.Data.SqlClient"/>
    <!--<add name="conSQ" connectionString="Server=DESKTOP-HOLRT7N;database=PrivateTheaterDB;Integrated Security=true " providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" cookieless="false"/>
    <compilation debug="true" targetFramework="4.8"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime requestPathInvalidCharacters="" maxRequestLength="52428800" requestValidationMode="2.0"/>
    <customErrors mode="Off">
      <error statusCode="404" redirect="/404"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
  </system.webServer>
</configuration>